@import "tailwindcss";

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TTCommons-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.app {
  font-family: "TT Commons", sans-serif;
}

@theme {
  /* Нейтральные */
  --color-moon: #ffffff; /* основной светлый фон */
  --color-cloud: #f3f3f3; /* светлая поверхность / карточки */
  --color-stone: #868686; /* второстепенный текст / иконки */
  --color-charcoal: #232323; /* основной текст */
  --color-abyss: #101010; /* глубокий тёмный фон */

  /* Акценты */
  --color-ocean: #1059c8; /* основной акцент / кнопки */
  --color-lavender: #e2beff; /* мягкий акцент / подсветка */
  --color-orchid: #7941a7; /* насыщенный акцент */
  --color-mint: #9effbf; /* позитив / успех / status-ok */
}
